.cover {
    border-bottom: 1px solid #c0c0c0;
    margin: 3px;
}

.name {
    font-weight: bold;
    width: 8em;
}

.mes {
    margin-left: 30px;
}

.edit {
    margin-left: 10px;
    cursor: pointer;
    color: blue;
    background: none;
    border: none;
}
